body, html {
  margin: 0;
  padding: 0;
  background-image: url('./assets/image_background.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.App {
  text-align: center;
}

header {
  background-color: #282c34;
  color: white;
  padding: 20px;
  text-align: center;
}

main {
  padding: 20px;
}

footer {
  background-color: #282c34;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
}
